.u-section-1 .u-sheet-1 {
  min-height: 500px;
}

.u-section-1 .u-text-1 {
  margin: 20px 476px 0 0;
}

.u-section-1 .u-text-2 {
  margin: 7px 423px 0 11px;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 20px auto 60px 11px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-right: 276px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 234px;
    margin-left: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-right: 56px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 14px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
  }
}