.u-section-1 .u-sheet-1 {
  min-height: 451px;
}

.u-section-1 .u-group-1 {
  width: 800px;
  min-height: 708px;
  margin: -29px auto;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-text-1 {
  margin: 79px 0 0 10px;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  margin: 20px 0 0 10px;
}

.u-section-1 .u-image-1 {
  width: 51px;
  height: 51px;
  margin: -16px 289px 0 auto;
}

.u-section-1 .u-image-2 {
  width: 51px;
  height: 51px;
  margin: -50px 230px 0 auto;
}

.u-section-1 .u-image-3 {
  width: 51px;
  height: 51px;
  margin: -47px 171px 0 auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-image-3 {
    margin-top: -48px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-group-1 {
    width: 720px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-group-1 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 483px;
  }

  .u-section-1 .u-group-1 {
    width: 340px;
    margin-top: -13px;
    margin-bottom: -13px;
  }

  .u-section-1 .u-image-1 {
    margin-right: 269px;
  }
}